<div class="login-container">
 
  <!-- Left Section -->
  <div class="left-panel">
 
    <div class="logo">
      <h1>PayPilot</h1>
      <span>Bill Service</span>
    </div>
 
    <h2>
      Smart Billing.<br>
      Seamless Payments.
    </h2>
 
    <p>
      Manage, track and pay all your bills
      securely from one platform.
    </p>
 
    <img src="assets/paypilot-login.png" alt="PayPilot">
  </div>
 
 
  <!-- Right Section -->
  <div class="right-panel">
 
    <h1>Welcome Back!</h1>
 
    <p>Login to your PayPilot account</p>
 
    <form [formGroup]="loginForm" (ngSubmit)="login()">
 
  <div class="form-group">
    <label>Email Address</label>
 
    <input
      type="email"
      formControlName="email"
      placeholder="📧 Enter your email">
 


    <small style="color: red;"
      *ngIf="loginForm.get('email')?.touched &&
             loginForm.get('email')?.invalid">
      Email should only contain alphabets, @, . 
    </small>

 

  </div>
 
  <div class="form-group">
    <label>Password</label>
 
    <input
      [type]="showPassword ? 'text' : 'password'"
      formControlName="password"
      placeholder="🔒 Enter your password">
 

 


    <small style="color: red;"
      *ngIf="loginForm.get('password')?.touched &&
               loginForm.get('password')?.invalid">
      Password must contain uppercase, lowercase, special char, number and min 8 length
    </small>
  </div>
 
  <div class="forgot-password">
    <a routerLink="/forgot">
      Forgot Password?
    </a>
  </div>
  
  <div class="form-group">
    <div id="login-recaptcha"></div>
  </div>
   
  <button
    type="submit"
    class="login-btn">
    Login
  </button>
 
</form>
 
 
    <div class="signup">
 
      Don't have an account?
 
      <a routerLink="/register">
        Create Account
      </a>
 
    </div>
 
  </div>
 
</div>
 