<div class="login-page">


  <div class="login-card">


    <div class="brand-section">

      <h1>PayPilot</h1>

      <p>Manage Bills. Take Control. Fly Ahead.</p>

    </div>


    <div class="card-content">


      <h2>Welcome Back</h2>

      <span class="subtitle">

        Login to your account

      </span>


      <form

        [formGroup]="loginForm"

        (ngSubmit)="login()">


        <!-- Email -->


        <div class="form-group">


          <label>Email Address</label>


          <input

            type="email"

            formControlName="email"

            placeholder="Enter your email">


          <small

            *ngIf="loginForm.get('email')?.touched &&

                   loginForm.get('email')?.invalid">


            Email should contain valid characters


          </small>


        </div>


        <!-- Password -->


        <div class="form-group">


          <label>Password</label>


          <input

            [type]="showPassword ? 'text' : 'password'"

            formControlName="password"

            placeholder="Enter your password">


          <small

            *ngIf="loginForm.get('password')?.touched &&

                   loginForm.get('password')?.invalid">


            Password must contain uppercase, lowercase,

            number, special character and minimum 8 characters


          </small>


        </div>


        <!-- Forgot Password -->


        <div class="forgot-section">


          <a routerLink="/forgot">

            Forgot Password?

          </a>


        </div>


        <!-- Recaptcha -->


        <div class="captcha-container">

          <div id="login-recaptcha"></div>

        </div>


        <!-- Login -->


        <button

          type="submit"

          class="login-btn">


          Login


        </button>


      </form>


      <div class="signup-section">


        <span>Don't have an account?</span>


        <a routerLink="/register">

          Create Account

        </a>


      </div>


    </div>


  </div>


</div>
 