<div class="register-page">


  <div class="register-card">


    <div class="card-header">


      <h1>Create Account</h1>


      <p>

        Fill in the details below to create your PayPilot account

      </p>


    </div>


    <form

      [formGroup]="registerForm"

      (ngSubmit)="register()">


      <!-- Row 1 -->


      <div class="row">


        <div class="field">


          <label>Full Name</label>


          <input

            type="text"

            formControlName="userName"

            placeholder="Enter your full name">


          <small

            *ngIf="registerForm.get('userName')?.touched &&

                   registerForm.get('userName')?.invalid">


            Full Name is required and should contain only alphabets


          </small>


        </div>


        <div class="field">


          <label>Email Address</label>


          <input

            type="email"

            formControlName="userEmail"

            placeholder="Enter your email">


          <small

            *ngIf="registerForm.get('userEmail')?.touched &&

                   registerForm.get('userEmail')?.invalid">


            Enter a valid Email Address


          </small>


        </div>


      </div>


      <!-- Gender -->


      <div class="field">


        <label>Gender</label>


        <select formControlName="gender">


          <option value="">Select Gender</option>

          <option>Male</option>

          <option>Female</option>

          <option>Other</option>


        </select>


        <small

          *ngIf="registerForm.get('gender')?.touched &&

                 registerForm.get('gender')?.invalid">


          Gender is required


        </small>


      </div>


      <!-- Row 2 -->


      <div class="row">


        <div class="field">


          <label>PAN Details</label>


          <input

            type="text"

            formControlName="panDetails"

            placeholder="Enter PAN Number">


          <small

            *ngIf="registerForm.get('panDetails')?.touched &&

                  registerForm.get('panDetails')?.invalid">


            Enter a valid PAN Number


          </small>


        </div>


        <div class="field">


          <label>Bank Account Number</label>


          <input

            type="text"

            formControlName="bankAccountNumber"

            placeholder="Enter Account Number">


          <small

            *ngIf="registerForm.get('bankAccountNumber')?.touched &&

                  registerForm.get('bankAccountNumber')?.invalid">


            Enter a valid Account Number


          </small>


        </div>


      </div>


      <!-- Row 3 -->


      <div class="row">


        <div class="field">


          <label>IFSC Code</label>


          <input

            type="text"

            formControlName="ifscCode"

            placeholder="Enter IFSC Code">


          <small

            *ngIf="registerForm.get('ifscCode')?.touched &&

                   registerForm.get('ifscCode')?.invalid">


            Enter a valid IFSC Code


          </small>


        </div>


        <div class="field">


          <label>Banking Partner</label>


          <select formControlName="bankingPartner">


            <option value="">Select Partner</option>

            <option>SBI</option>

            <option>HDFC</option>

            <option>ICICI</option>

            <option>AXIS</option>


          </select>


          <small

            *ngIf="registerForm.get('bankingPartner')?.touched &&

                  registerForm.get('bankingPartner')?.invalid">


            Please select a Banking Partner


          </small>


        </div>


      </div>


      <!-- Password -->


      <div class="password-section">


        <input

          type="password"

          formControlName="password"

          placeholder="Create Password">


        <small

          *ngIf="registerForm.get('password')?.touched &&

                  registerForm.get('password')?.invalid">


          Password must contain uppercase, lowercase,

          number and special character


        </small>


      </div>


      <!-- Confirm Password -->


      <div class="password-section">


        <input

          type="password"

          formControlName="confirmPassword"

          placeholder="Confirm Password">


        <small

          *ngIf="registerForm.get('confirmPassword')?.touched &&

                  registerForm.get('confirmPassword')?.invalid">


          Confirm Password is required


        </small>


      </div>


      <!-- Captcha -->


      <div class="form-group">


        <div id="register-recaptcha"></div>


      </div>


      <!-- OTP -->


      <div class="otp-section">


        <input

          type="text"

          formControlName="otp"

          placeholder="Enter OTP">


        <button

          type="button"

          class="otp-btn"

          (click)="sendOtp()">


          Send OTP


        </button>


      </div>


      <!-- Register Button -->


      <button

        type="submit"

        class="register-btn">


        Create Account


      </button>


    </form>


    <div class="login-link">


      Already have an account?


      <a routerLink="/login">


        Login


      </a>


    </div>


  </div>


</div>
 